<% const d = new Date()
let year = d.getFullYear() %>
<footer>
<p>&copy; <span id="copyright"></span>,CSE 340 App</p>
<p><a href="/inv/trigger-error" class="error-trigger">Trigger Error</a></p>

</footer>